<div>
	<ul style="padding: 10px">
		<li>
			<div>
		    	<a href="/"><b>Home</b></a>
		    </div>
		</li>

		  <% if(!currentUser) { %>
		<li>
			<div>
		    	<a href="/register"><b>Register</b></a>
		    </div>
		</li>
		<li>
			<div>
    			<a href="/login"><b>Login</b></a>
    		</div>
		</li>
		 <% } else { %>
		 <li>
			<div>
		    	<a href="/profile"><b>My Profile( <%=currentUser.username%> )</b></a>
		    </div>
		</li>
		<li>
			<div>
    			<a href="/logout"><b>Logout</b></a>
    		</div>
		</li>
		<% } %>


	</ul>
</div><hr/><br/>