<!DOCTYPE html>
<html>
  <head>
    <title>Welcome at Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include ./partials/navbar %>
    <h1>Welcome at Home page!</h1>
    <div>
    	<a href="/register"><b>Register</b></a>
    </div>
    <br/>
    <div>
    	<a href="/login"><b>Login</b></a>
    </div>
  </body>
</html>
